## Data cleaning

In [2]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from collections import Counter
from sklearn.datasets import load_iris

/Users/pedroconsuegramateo/opt/miniconda3/envs/m3_ih/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
irisSK = load_iris()

In [4]:
iris = pd.read_csv('iris-data.csv')
iris

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   145 non-null    float64
 4   class            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
iris.isnull().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     5
class              0
dtype: int64

In [7]:
iris.dropna()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,2.3,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
irisfilled = iris.copy()

In [9]:
irisfilled['petal_width_cm'] = irisfilled['petal_width_cm'].fillna(irisfilled['petal_width_cm'].mean())

In [10]:
irisfilled.isnull().sum()

sepal_length_cm    0
sepal_width_cm     0
petal_length_cm    0
petal_width_cm     0
class              0
dtype: int64

In [11]:
irisfilled['class'].unique()

array(['Iris-setosa', 'Iris-setossa', 'Iris-versicolor', 'versicolor',
       'Iris-virginica'], dtype=object)

In [14]:
iris_one_hot = pd.get_dummies(irisfilled, columns=['class'], drop_first=True)
iris_one_hot

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class_Iris-setossa,class_Iris-versicolor,class_Iris-virginica,class_versicolor
0,5.1,3.5,1.4,0.2,0,0,0,0
1,4.9,3.0,1.4,0.2,0,0,0,0
2,4.7,3.2,1.3,0.2,0,0,0,0
3,4.6,3.1,1.5,0.2,0,0,0,0
4,5.0,3.6,1.4,0.2,0,0,0,0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1,0
146,6.3,2.5,5.0,2.3,0,0,1,0
147,6.5,3.0,5.2,2.0,0,0,1,0
148,6.2,3.4,5.4,2.3,0,0,1,0
149,5.9,3.0,5.1,1.8,0,0,1,0

In [16]:
scaler = StandardScaler()
scaled_iris = scaler.fit_transform(iris_one_hot)
scaled_iris

array([[-0.41625454,  1.03163593, -1.3412724 , ..., -0.65465367,
        -0.70710678, -0.18569534],
       [-0.56911321, -0.12663794, -1.3412724 , ..., -0.65465367,
        -0.70710678, -0.18569534],
       [-0.72197188,  0.33667161, -1.39813811, ..., -0.65465367,
        -0.70710678, -0.18569534],
       ...,
       [ 0.65375615, -0.12663794,  0.81962435, ..., -0.65465367,
         1.41421356, -0.18569534],
       [ 0.42446814,  0.79998116,  0.93335575, ..., -0.65465367,
         1.41421356, -0.18569534],
       [ 0.19518014, -0.12663794,  0.76275864, ..., -0.65465367,
         1.41421356, -0.18569534]])

In [20]:
iris_one_hot.to_csv('./deliverables/iris_one_hot.csv')